<!DOCTYPE html>
<html ng-app="paipain">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <title>☆★☆ PaiPain ☆★☆</title>
  <script>
  angular.module('paipain', [])
  .filter('split', function() {
    return function(input) {
      return input.replace(/(.{4})/g, '$1 ')
    };
  })
  .controller('IndexCtrl', ['$scope', function($scope) {
    $scope.answer = '1592653589793238462643383279502884197169399375105820974944592307816406286208';
    $scope.inputs = '';
    $scope.success = false;
    $scope.failure = false;

    function isFailure() {
      var index = $scope.inputs.length - 1;
      return $scope.answer[index] !== $scope.inputs[index];
    }
    function isSuccess() {
      return $scope.answer === $scope.inputs;
    }

    $scope.input = function(num) {
      $scope.inputs += num;
      $scope.failure = isFailure();
      $scope.success = isSuccess();
    };
    $scope.length = function() {
      if ($scope.failure) {
        return $scope.answer.length - $scope.inputs.length + 1;
      } else {
        return $scope.answer.length - $scope.inputs.length;
      }
    };
    $scope.retry = function(num) {
      $scope.inputs = '';
      $scope.success = false;
      $scope.failure = false;
    };
  }]);
  </script>
</head>
<body style="background-color: #8fe9ff; color: #002e9b" ng-controller="IndexCtrl">
  <div class="text-center">
    <h1>Let's Paipain!</h1>
    <div class="container">
      <h1>3.14  {{inputs | split}}<strong ng-show="!success && !failure">*</strong> </h1>
      <h1 class="text-success" ng-show="success">ぱいなぽー！</h1>
      <h1 class="text-danger" ng-show="failure">次は {{answer[inputs.length - 1]}} でした。。。(T . T)</h1>
      <button class"btn btn-default btn-lg" ng-show="failure || success" ng-click="retry()">もう一回</button>
    </div>
    <div>
      <marquee scrollamount="8" behavior="alternate" ng-show="!success">残りは {{length()}} 桁です♪</marquee>
    </div>
    <div class="container" ng-show="!failure && !success">
      <div class="row" style="margin-top: 35px; margin-bottom: 35px;">
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(1)">1</button></div>
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(2)">2</button></div>
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(3)">3</button></div>
      </div>
      <div class="row" style="margin-top: 35px; margin-ottom: 35px;">
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(4)">4</button></div>
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(5)">5</button></div>
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(6)">6</button></div>
      </div>
      <div class="row" style="margin-top: 35px; margin-ottom: 35px;">
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(7)">7</button></div>
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(8)">8</button></div>
        <div class="col-xs-4"><button class="btn btn-warning btn-block btn-lg" ng-click="input(9)">9</button></div>
      </div>
      <div class="row" style="margin-top: 35px; margin-bottom: 35px;">
        <div class="col-xs-12"><button class="btn btn-warning btn-block btn-lg" ng-click="input(0)">0</button></div>
      </div>
    </div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="hogewest" data-size="large">Tweet</a>
  </div>

  <a href="https://github.com/hogewest/paipain"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
